<div class="container-fluid footer-wrapper" id="footer">
    <div class="container">
        <div class="footer-info">
            <div class="footer-info-text">
                This website was created by kiendtfx07130
            </div>
            <div class="footer-powered-by">
                <a rel="nofollow" href="/">Get Your own FREE website. Click here!</a>
            </div>
        </div>
        <div class="footer-page-counter" style="display: block;">
            {{#allViews}}
                {{#digits}}
                    <span class="footer-page-counter-item">{{.}}</span>
                {{/digits}}
            {{/allViews}}
        </div>
        <div id="css_simplesite_com_fallback" class="hide"></div>
    </div>
</div>