<div class="container-fluid header-wrapper " id="header">
    <div class="container">
        <div class="title-wrapper">
            <div class="title-wrapper-inner">
                <a class="logo " href="/">
                </a>
                <div class="title ">
                    {{blogTitle}}
                </div>
                <div class="subtitle">
                    {{blogSubTitle}}
                </div>
            </div>
        </div>
        {{>layout/navbar}}
    </div>
</div>